[Desktop Entry]
Type=Application
Version=1.0
Name=Quassel2Go
GenericName=IRC Client
Comment=Distributed IRC client with central core component
Comment[ast]=Veceru IRC distribuyíu con un componente central
Comment[ca]=Client d'IRC distribuït amb un component de nucli central
Comment[de]=Dezentralisierter IRC-Client mit einem zentralen Kern
Comment[en_GB]=Distributed IRC client with central core component
Comment[es]=Cliente IRC distribuido con un componente central
Comment[et]=Hajus IRC klient koos keskse tuumkomponendiga
Comment[fi]=Hajautettu IRC-asiakas, jolla keskitetty ydinkomponentti
Comment[fr]=Client IRC distribué avec composant essentiel centralisé
Comment[gl]=Cliente de IRC distribuído cun compoñente principal central
Comment[hu]=Elosztott IRC-kliens központi alapkomponenssel
Comment[it]=Client IRC distribuito con componente centrale
Comment[nl]=IRC-client met centraal kerncomponent
Comment[oc]=Client IRC distribuit amb component essencial centralizat
Comment[pt_BR]=Cliente IRC distribuido com o compotente central core
Comment[ru]=Распределённый клиент IRC с центральным ядром
Comment[sq]=Klient i shpërndarë IRC me përbërës qendror
Comment[sv]=Distribuerad IRC-klient med central kärnkomponent
Comment[uk]=Клієнт IRC з центральним ядром
Comment[zh_CN]=带有中央核心组件的分布式 IRC 客户端
Icon=quassel
TryExec=quassel2go
Exec=quassel2go
Categories=Qt;Network;Chat;IRCClient;
